.carousel {
  /* margin: auto; */
  /* width: 60%; */
  height: 100vh;
  /* background: red; */
  /* z-index: 100; */
}
.image-container {
  padding: 10px;
}

.image {
  width: 600px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.slider-container {
  margin: auto;
  width: 90%;
  /* background: rgb(71, 56, 56); */
  z-index: 100;
  position: relative;
  top: 30%;
  left: 45%;
  transform: translate(-50%);
}

.slider-container h2 {
  text-align: center;
  font-size: 60px;
}
.slider-container h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 15rem;
}

@media screen and (max-width: 1024px) {
  .image {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .slider-container h2 {
    text-align: center;
    font-size: 40px;
  }
  .slider-container h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 600px) {
  .carousel {
    margin: auto;
    width: 90%;
    height: 100vh;
    /* background: red; */
    /* z-index: 100; */
  }
  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .slider-container h2 {
    text-align: center;
    /* background: white; */
    font-size: 15px;
    /* animation: slideInFromLeft 1s ease-out; */
  }
  .slider-container h1 {
    font-size: 15px;
    /* background: white; */
    text-align: center;
    margin-bottom: 5rem;
    /* animation: slideInFromRight 1s ease-out; */
  }
  .slider-container {
    margin: auto;
    width: 90%;
    /* background: rgb(71, 56, 56); */
    z-index: 100;
    position: relative;
    top: 50%;
    left: 45%;
    transform: translate(-50%);
  }
}

/* .animated-heading {
  background: white;
  width: 50%;
  margin:auto;
} */
